node_modules/
botcerts.pem
botkey.pem
client_secret.json
gappAuth.json
mail.txt
mailmessage.txt
mailsender.txt
mailuser.txt
sslink.txt
ssmap.txt
motd.txt
sandbox.js
welcomeuser.txt
welcomemessage.txt
usergroups.txt
slacktoken.txt
groupmekey.txt