node_modules/
logs/
botcerts.pem
botkey.pem
client_secret.json
gappAuth.json
mail.txt
mailmessage.txt
mailsender.txt
mailuser.txt
sslink.txt
ssmap.txt
motd.txt
sandbox.js
welcome.txt
usergroups.txt
slacktoken.txt
groupmekey.txt
rankedstats.txt